{% extends "main/base.html" %}

{% block links %} 
<link rel="stylesheet" href="http://localhost/static/css/forms.css">
{% endblock %}

{% block flash_messages %}
{% with messages = get_flashed_messages(category_filter=['form-error']) %}
{% if messages %}
    {% for message in messages %}
        <div class="form-alert">
            <div class="message">{{ message }}</div>
            <button type="button"class="close-button">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
    {% endfor %}
{% endif %}
{% endwith %}

{% endblock %}
{% block content %}
<form method="POST">
    <h2>Login</h2>
    {{ form.hidden_tag() }}
    {{ form.name.label }} {{ form.name() }}<br>
    {{ form.email.label }} {{ form.email() }} <br>
    {{ form.password.label }} {{ form.password() }}<br>
    {{ form.submit() }}
</form>
{% endblock %}