{% extends "main/base.html" %}

{% block links %} 
<link rel="stylesheet" href="http://localhost/static/css/forms.css">
{% endblock %}

{% block content %}
<form method="POST">
    <h2>Login</h2>
    {{ form.hidden_tag() }}
    {{ form.name.label }} {{ form.name() }}<br>
    {{ form.email.label }} {{ form.email() }} <br>
    {{ form.password.label }} {{ form.password() }}<br>
    {{ form.submit() }}
</form>
{% for message in get_flashed_messages(with_categories=true) %}
    <p>{{ message[1] }}</p>
{% endfor %}
{% endblock %}