* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 16px;
}
.wrap{
    margin-left: 20vw;
    max-width: 60vw;
    background-color: #cfc1b4;
    min-height: 100vh;
    border: 1px solid #ddd;
    border-radius: 5px;
}

body{
    background-color: #664d35;
}
.navbar {
    z-index: 998;
    background-color: #333;
    overflow: hidden;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: -1px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #595959;
}

.navbar:after {
    content: "";
    display: table;
    clear: both;
}

body::-webkit-scrollbar {
    width: 12px;              
}
  
body::-webkit-scrollbar-track {
    background: #454545;        
}
  
body::-webkit-scrollbar-thumb {
    background-color: #454545;  
    border-radius: 20px;      
    border: 3px solid #454545; 
}
body::-webkit-scrollbar-thumb:hover {
    background-color: #595959;
}
#menu-button i {
    text-align: center;
    color: white; 
    background-color: #333;
    padding: 15px 24px;
}
#menu-button{
    border:none;
    position: absolute;
    right: 0;
    margin-right: 10vw;
    cursor: pointer;
}
#menu-button i:hover{
    background-color: #454545;
}
.menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    z-index: 1000;
}
  
.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position:absolute;
}
  
.menu ul li {
    background-color: white;
    min-width: 6em;
    max-width: 6rem;
    display: block;
}
  
.menu ul li a {
    text-decoration: none;
    text-align: center;
    color: #333;
    padding: 2px;
}

.menu ul li a:hover {
    background-color: #cacaca;
}

#flash-messages {
    position: relative;
    z-index: 999;
    min-width: 100%;
}
.alert {
    background-color: #4CAF50;
    color: white;
    padding: 5px;
    border-radius: 10px;

}
.form-alert {
    background-color: #ff0000;
    color: white;
    padding: 5px;
    border-radius: 10px;
}