* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.wrap{
    margin-left: 20vw;
    max-width: 60vw;
    background-color: white;
    min-height: 100vh;
}

body{
    background-color: #7eb7fc;
}